@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
.button-container{
  background-color: azure;
  border-radius: 5px;
}
.button{
  border-radius: 8px;
  margin: 5px;
}

